<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NiHao</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&family=Noto+Sans+HK:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans+Oriya:wght@100..900&display=swap" rel="stylesheet">
    style 
        include pug.css
</head>
<body>
    <nav id="nav">
        <ul>
            <li><a href="/">千葉 弘幸</a></li>
            <li><a href="/">小林敏</a></li>
            <li><a href="/">薛富僑</a></li>
            <li><a href="/">本 順三郎</a></li>
            <li><a href="/">小野澤 賢三</a></li>
        </ul>
    </nav>
    <section id="imgsec">
        <h1>処理の要件</h1>
    </section>
    <section id="sponsec">
        <h3>枝本 順三郎 小林</h3>

        <div id="my">
        <p>こんにちは。私の名前はリハンです。ウェブ開発者です。私の趣味は写真と歌うことで、宇宙、起業家精神、物理学に興味があります。私は人々とつながり、自分のスキルを高めるさまざまな機会を積極的に探しています可能であれば私にご連絡ください。今後のプロジェクトについて喜んでご連絡させていただきます</p></div>
        <div class="card" id="card1">
            <h2>日本</h2>
        </div>
        <div class="card" id="card2">
            <h2>の要</h2>
        </div>
        <div class="card" id="card3">
            <h2>組版</h2>
        </div>
    </section>
    <footer id="footer">
        <h3>阿南 康宏</h3>
        <form action="/" id="forms" method="POST">
            <input type="text" name="name"placeholder="リハンです" class="inp">
            <input type="text" name="place"placeholder="機会を積極的に探し" class="inp">
            <input type="text" name="fav_anime"placeholder="させていただきます" class="inp">
            <input type="text" name="currently_watching"placeholder="開発者" class="inp">
            <input type="submit" id="sub">
        </form>
    </footer>

    <section id="last">
        <p>Developer aint Anime lover- Rihan</p>
    </section>
    
</body>
</html>